*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
  border-radius: 40%;
}
.nav-item{
  color: #372925;
}
.navbar-brand{
    border-right:1px solid #ccc;
     padding-right: 10px;
      font-weight: bold;
      background: -webkit-linear-gradient(90deg,#d7b484 ,#372925);
        font-size: 24px;
        -webkit-background-clip: text;
         background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.4s; 
}
#nav-Dropdown{
  border: 2px #372925 solid ;

}
.navbtn{
  background-color: #372925;
  border-color: #372925;
}
.navbtn:hover{
  opacity: 0.7;
  background-color: #372925;
}
.navbar-brand:hover{
  text-shadow: 0 5px 20px #d7b484 , 0 -5px 20px  #d7b484;
}
.nav-link:hover{
  font-weight: bolder;
  text-shadow: 1px 1px 10px  #d7b484, -1px -1px 10px #d7b484;
}
.nav-link:hover::first-letter{
  font-size: larger;
  color: #d7b484;
}
.dropdown-menu li a{
  text-shadow: 1px 1px 0px #d7b484;
}
.modal-header{
  background-color: #372925;
}
.carousel-caption{
    margin-bottom: 25px;
    background: #76615b80;
    border-radius: 10px;
    color: beige;
}
.carousel-indicators{
  margin-bottom:42px;
}
.wel{
  background-color: #EDE1D1;
}
.wel{
  background: -webkit-linear-gradient(90deg,#d7b484 ,#372925);
  font-size: 28px;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
}
.wel .card-body a{
  margin-top: 15px;
}
.aside-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.aside-icon a i{
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  margin-left: 10px;
 color: #483b38;
}
.aside-icon a i:hover{
  color: #78544b; 
  transform: scale(0.85);
  transition: 0.5s;
}
.btntranslate{
    position: relative;
}
/* .btntranslate::before{
position: absolute;
content: "";
top: 0;
left: 0;
border: 15px groove transparent transparent lightblue transparent;
display: none;
}
.btntranslate:active::before,
.btn:hover::before{
    display: block;
} */
.btntranslate::after{
    position: absolute;
    content: "";
    height: 50px;
    width: 100px;
    background-color: rgb(215, 240, 248);
    top: 40px;
    left: 70px;
    border-radius: 0px 15px 15px;
    display: none;
}
.btntranslate:hover::after{
content: "Submit to confirm";
display: block;
}
.btntranslate:active::after{
    content: "confirmed!";
    display: block;
    height: 25px;
}
.bg-img{
    background-attachment: fixed;
    background-image: url(../images/JavaScript.jpg);
    background-size: cover;
    height: 300px;
}
.bg-img2{
  background-image: url(../images/opensrc.jpg);
}
.pop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        align-content: stretch;
}
a{
  text-decoration: none;
  color: #703a37;
}
.track{
    height: 450px;
    position: relative;
}
.track .btn{
    position: absolute;
    z-index: 4;
    right: 13px;
  }
  .track::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #EDE1D1;
    opacity: 0.3;
    transition: 1s;
  }
  .track:hover:after{
    width: 100%;
    height: 100%;
  }
  .track::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: #EDE1D1;
    opacity: 0.3;
    transition: 1s;
  }
  .track:hover::before{
    width: 100%;
    height: 100%;
  }
  .wrapper {
    margin: 10vh;
  }
  .thankcard {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 768px) {
    .thankcard {
      min-height: 350px;
    }
  }

  @media (max-width: 420px) {
    .thankcard {
      min-height: 300px;
    }
    .aside-icon{
      display: none;
    }
    .wrapper .container .row .appr{
      min-width: 350px;
      margin-left: -60px;
    }
   section .container article{
      height: 600px;
    }
    /* .postcard__text .fullst {
      margin-top: -20px;
    } */
    .postcard .postcard__text  .fullst {
      margin-top: -20px;
    }
  }
  .card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .card.card-has-bg:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
  }
  .card.card-has-bg:hover {
    transform: scale(0.9);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #d7b484;
    background: linear-gradient(0deg, rgba(107, 86, 81, 0.5) 0%, #6a5853 100%);
  }
  .card .card-footer {
    background: none;
    border-top: none;
  }
  .card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
  }
  .card .card-meta {
    color: #d7b484;
  }
  .card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-hover:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-hover:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #98756c;
    background: linear-gradient(0deg, rgba(55, 41, 37, 0.3785889356) 0%, #6a5853 100%);
  }
  .cark-track .card-title{
    color: #d89582;
  }

  .postcard {
    height: 400px;
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    box-shadow: -5px 5px 20px 10px rgb(201, 198, 241);
  }
  .postcard.dark {
    background-color: #18151f;
  }
  .postcard.light {
    background-color: #e1e5ea;
  }
  .postcard .t-dark {
    color: #18151f;
  }
  .postcard a {
    color: inherit;
  }
  .postcard h1, .postcard .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  .postcard .small {
    font-size: 80%;
  }
  .postcard .postcard__title {
    font-size: 1.75rem;
  }
  .postcard .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .postcard .postcard__img_link {
    display: contents;
  }
  .postcard .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }
  .postcard .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .postcard .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }
  .postcard .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
  }
  .postcard .postcard__tagbox .tag__item {
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color 0.5s;
  }
  .postcard .postcard__tagbox .tag__item:hover {
    background: rgba(83, 83, 83, 0.8);
  }
  .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }
  .postcard:hover .postcard__bar {
    width: 150px;
  }
  
  @media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
    }
    .postcard .postcard__title {
      font-size: 2rem;
    }
    .postcard .postcard__tagbox {
      justify-content: start;
    }
    .postcard .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: 0.3s ease;
    }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%;
    }
    .postcard .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }
    .postcard:hover .postcard__img {
      transform: scale(1.1);
    }
    .postcard:nth-child(2n+1) {
      flex-direction: row;
    }
    .postcard:nth-child(2n+0) {
      flex-direction: row-reverse;
    }
    .postcard:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }
    .postcard:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
  @media screen and (min-width: 1024px) {
    .postcard__text {
      padding: 2rem 3.5rem;
    }
  
    .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px;
    }
  
    .postcard.light .postcard__text:before {
      background: #e1e5ea;
    }
  }
  /* COLORS */
  .postcard .postcard__tagbox .green.play:hover {
    background: rgb(130, 73, 73);
    color: black;
  }
  
  .green .postcard__title:hover {
    color: rgb(130, 73, 73);
  }
  
  .green .postcard__bar {
    background-color: rgb(130, 73, 73);
  }
  
  .green::before {
    background-image: linear-gradient(-30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1), transparent 50%);
  }
  
  .postcard .postcard__tagbox .blue.play:hover {
    background: rgb(130, 73, 73);
  }
  
  .blue .postcard__title:hover {
    color: rgb(130, 73, 73);
  }
  

  .sub .card-link{
    color: #372925;
  }
  .sub .card-title{
    color: #372925;
  }
  .blue .postcard__bar {
    background-color: rgb(130, 73, 73);
  }
  .blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
  }
  .postcard .postcard__tagbox .red.play:hover {
    background: #9f5856;
  }
  .red .postcard__title:hover {
    color: #703a37;
  }
  .red .postcard__bar {
    background-color: #955b58;
  }
  .red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1), transparent 50%);
  }
  .postcard .postcard__tagbox .yellow.play:hover {
    background: rgb(130, 73, 73);
    color: black;
  }
  .yellow .postcard__title:hover {
    color: rgb(130, 73, 73);
  }
  .yellow .postcard__bar {
    background-color: rgb(130, 73, 73);
  }
  .yellow::before {
    background-image: linear-gradient(-30deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 187, 73, 0.1), transparent 50%);
  }
  @media screen and (min-width: 769px) {
    .green::before {
      background-image: linear-gradient(-80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
    .green:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(121, 221, 9, 0.1), transparent 50%);
    }
    .blue::before {
      background-image: linear-gradient(-80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
    .blue:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1), transparent 50%);
    }
    .red::before {
      background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
    .red:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
    }
    .yellow::before {
      background-image: linear-gradient(-80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
    .yellow:nth-child(2n)::before {
      background-image: linear-gradient(80deg, rgba(189, 187, 73, 0.1), transparent 50%);
    }
  }
  .cardover{
    position: relative;
    min-height: 450px;
  }
  .cardover .btn{
    position: absolute;
    z-index:10;
    bottom: 55px;
    right: 13px;
  }
  .cardover::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #372925;
    opacity: 0.3;
    transition: 1s;
  }
  .cardover:hover::after{
    width: 100%;
    height: 100%;
  }
  .cardover::before{
    position: absolute;
    content: "";
    bottom:  0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #372925;
    opacity: 0.3;
    transition: 1s;
  }
  .cardover:hover::before{
    width: 100%;
    height: 100%;
  }
  footer p a:hover,
  .sub .card-link:hover{
text-decoration: underline;
  }
  .logoicon{
    height:80px;
    width: 80px;
    box-shadow: -3px -3px 20px 10px #d7b484;
    transition: 1s;
  }
  .logoicon:hover{
    background-color: #372925;
    opacity: 0.7;
  }